{% extends "layout.html.twig" %}

{% block title %}{{ billet.title }}{% endblock %}

{% block content %}
    <p>
    <h2>{{ billet.title }}</h2>
    <p>{{ billet.content }}</p>

    <h3>Comments</h3>
    {% for comment in comments %}
        {% if comment.parentId == 0 %}
        <div class="panel panel-default">
            <strong>{{ comment.author.username }}</strong> said : {{ comment.content }}<br>
            <p class="text-right">
                {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                <button type="button" class="btn btn-danger" title="Reporting" data-toggle="modal" data-target="#commentDialog{{ comment.commentId }}"> Signaler </button>
                <a href="{{ path('answer', { 'billetId': billet.billetId, 'commentId': comment.commentId }) }}"><button type="button" class="btn btn-primary"> Répondre </button></a>
                {% endif %}
            </p>
            <div class="modal fade" id="commentDialog{{ comment.commentId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                        </div>
                        <div class="modal-body">
                            Do you really want to report this comment ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <a href="{{ path('reporting', { 'commentId': comment.commentId }) }}" class="btn btn-danger">Confirm</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
        {% else %}
            <div class="panel panel-default answer">
                <strong>{{ comment.author.username }}</strong> said : {{ comment.content }}<br>
                <p class="text-right">
                    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <button type="button" class="btn btn-danger"> Signaler </button>
                    <a href="{{ path('answer', { 'billetId': billet.billetId, 'commentId': comment.commentId }) }}"><button type="button" class="btn btn-primary"> Répondre </button></a>
                    {% endif %}
                </p>
                <div class="modal fade" id="commentDialog{{ comment.commentId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                            </div>
                            <div class="modal-body">
                                Do you really want to report this comment ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <a href="{{ path('reporting', { 'commentId': comment.commentId }) }}" class="btn btn-danger">Confirm</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        {% endif %}
    {% else %}
        No comments yet.
    {% endfor %}

    <h3>Add a comment</h3>
    {% if commentForm %}
        {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your comment'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publish comment" />
            </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }} ">Log in </a>or <a href="{{ path('registration') }} ">Subcribe </a>to add comments.
    {% endif %}
    </p>
{% endblock %}



